@font-face {
  font-family: 'Toysans';
  src: url('../Fonts/Toysans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  background-color: #1b2b47;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: #1b2b47;
  padding-top: 20px;
  height: 100%;
  width: 18%;
  position: fixed;
  left: 0;
  text-align: center;
  text-decoration-color: black;
}

.sidebar div{
  position: absolute;
  bottom: 35px;
  left: 15px;
}

.mainContent {
  overflow-x: auto;
  overflow-y: auto;
  margin-left: 18%;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  padding: 30px;
}

#tipsList {
  margin: 0 auto;
  text-align: center;
}

#ideasList {
  margin: 0 auto;
  text-align: center;
}

footer {
  border-top: 2px solid #1b2b47;
  margin-left: 18%;
  width: 81.5%;
  background-color: white;
  text-align: center;
  padding: 40px;
}

#logoFont {
  display: inline;
  font-family: "Toysans";
}

form { 
  background-color: #fff;
  padding: 30px;
  padding-right: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; 
  margin: 0 auto;
}
form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover {
  background-color: #3e8e41;
}

.mainContent h1 {
  color: #1b2b47;
}

.mainContent h3 {
  margin: 2rem 0 1rem;
}

.mainContent p {
  margin: 2rem;
  color: #1b2b47;
  font-size: large;
}

h1 {
  font-family: "Toysans";
  color: white;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2rem 2rem;
}

.mainContent h2, footer h2{
  color: #1b2b47;
}

h3 {
  color: #1b2b47;
  margin: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #cacaca;
}

textarea {
  resize: none;
}

#coverLetter {
  background-color: white;
  border: 3px solid black;
  box-shadow: black 3px 3px 10px;
  width: 18.6cm;
  height: 25.7cm;
  margin: 2cm auto;
  padding: 1cm;
  font-family: Arial, sans-serif;
  float: right;
}

#resume {
  background-color: white;
  border: 3px solid black;
  box-shadow: black 3px 3px 10px;
  width: 18cm;
  height: 25.7cm;
  margin-left: 400px;
  padding: 1cm;
  font-family: Arial, sans-serif;
  float: right;
}

#topInfo {
  border-top: 1px solid black;
  padding-top: 50px;
}

.info {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
  line-height: 2;
}

#letterDate {
  font-size: large;
  font-weight: bold;
}

#mainLetter {
  max-width: 15.6cm;
  overflow-wrap: break-word;
  font-size: 12px;
}


#letterForm {
  float: left;
}

#letterForm h1 {
  margin: 2rem 2rem;
}

#topLeftHeader {
  position: absolute;
  margin: 1.4rem 2.1rem;
}

#searchButton {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}

#wordInput {
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.thBody {
  font-family: Arial, sans-serif;
  text-align: center;
}

#results ul {
  column-count: 3;
  padding-left: 150px;

}

.experiences {
  margin-bottom: 20px;
}

.experience-item {
  border: 1px solid #ddd; 
  padding: 10px;
  margin-bottom: 10px;
}

#schoolName {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10px; 
    margin-left: -1px;
}

.workDesc {
  font-size: 14px;
}

#resumeButton {
  margin-top: 40px;
  margin-left: 28rem;
  border: 3px solid #1b2b47;
  color: #1b2b47;
  padding: 25px 50px;
  border-radius: 10px;
}

#resumeButton:hover {
  border-color: white;
  background-color: #1b2b47;
}

#resumeButton:active {
  background-color: #141f33;
}

#resumeButton:hover p {
  color: white;
}

#resumeButton p {
  color: #1b2b47;
  font-family: "Toysans";
  font-size: x-large;
}

#email {
  width: 105%;
  height: 35px;
}
