* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: #99D9EA;
  border: 1px solid black;
  height: 100%;
  width: 18%;
  position: fixed;
  left: 0;
  text-align: left;
  text-decoration-color: black;
}

.header {
  border: 1px solid blue;
  height: 20%;
  width: 82%;
  margin-left: 18%;
  background-color:#7092BE;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: center;
}

.mainContent {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-left: 18%;
  background-color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  
}

#tipsList {
  margin: 0 auto;
  text-align: center;
}

#ideasList {
  margin: 0 auto;
  text-align: center;
}

footer {
  margin-left: 18%;
  width: 81.5%;
  border: 3px solid #7092BE;
  text-align: center;
}

form { 
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; 
  margin: 0 auto;
}
form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover {
  background-color: #3e8e41;
}

h2 {
  text-align: center;
  color: #A30000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2rem 2rem;
}

textarea {
  resize: none;
}

#coverLetter {
  background-color: white;
  border: 3px solid black;
  box-shadow: black 3px 3px 10px;
  width: 18.6cm;
  height: 25.7cm;
  margin: 2cm auto;
  padding: 1cm;
  font-family: Arial, sans-serif;
}

#topInfo {
  border-top: 1px solid black;
  padding-top: 50px;
}

.info {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
  line-height: 2;
}

#letterDate {
  font-size: large;
  font-weight: bold;
}

#mainLetter {
  max-width: 15.6cm;
  overflow-wrap: break-word;
  font-size: 12px;
}

#searchButton {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

#wordInput {
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.thBody {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

#results ul {
  column-count: 3;
  padding-left: 300px;

}
